<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="moonSongs" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="moonSongs" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="moonSongs" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="moonSongs" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Moon Songs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="IndexController as control">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">Moon Songs</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
          <li><a href="#/startView" translate>START</a></li>
          <li><a href="#/songsView" class="fx-zoom-normal fx-easing-bounce fx-speed-800"
            ng-show="currentUser && currentUser.permissions.canListen" translate>SONGS</a>
          </li>
          <li><a href="#/albums" class="fx-zoom-normal fx-easing-bounce fx-speed-800"
            ng-show="currentUser && currentUser.permissions.canListen" translate>ALBUMS</a>
          </li>
          <li><a href="#/uploadView" class="fx-zoom-normal fx-easing-bounce fx-speed-800"
            ng-show="currentUser && currentUser.permissions.canUpload" translate>UPLOADS SONGS</a>
          </li>
          <li>
            <div class="btn-group navbar-form">
              <button type="button" class="btn btn-default fx-zoom-normal fx-easing-bounce fx-speed-800" ng-show="currentUser && currentUser.permissions.canListen" ng-click="prev()">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default fx-zoom-normal fx-easing-bouncefx-speed-800" ng-show="currentUser && currentUser.permissions.canListen" ng-click="play()">
                <span class="glyphicon glyphicon-play fx-zoom-normal fx-easing-bounce" ng-show="currentUser && currentUser.permissions.canListen" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default fx-zoom-normal fx-easing-bounce fx-speed-800" ng-show="currentUser && currentUser.permissions.canListen" ng-click="pause()">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default fx-zoom-normal fx-easing-bounce fx-speed-800" ng-show="currentUser && currentUser.permissions.canListen" ng-click="next()">
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
              </button>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-form">
          <li style="margin-right:2.5em;">
            <div class="row" ng-show="getSong()">
              <span>{{getSong().title}}</span>
              <img style="width:45px;height:45px" ng-src="music/{{getSong().artist}}/{{getSong().album}}/Cover.jpg?dim=64x64" class="img-rounded">
            </div>
          </li>
          <li>
            <div class="btn-group" dropdown>
              <button type="button" class="btn btn-primary">
                <span ng-show="!status.logged" translate>NOT LOGGED</span>
                <span ng-show="status.logged" translate-value-user="{{currentUser.userName}}" translate>WELCOME USER</span>
              </button>
              <button class="btn btn-primary dropdown-toggle" dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-show="!status.logged"><a href="#/loginView" translate>LOGIN</a></li>
                <li ng-show="status.logged && getUser().permissions.admin"><a href="#/manageUsersView" translate>MANAGE USERS</a></li>
                <li ng-show="status.logged && getUser().permissions.admin" class="divider"></li>
                <li ng-show="status.logged"><a href="" ng-click="logout()" translate>LOGOUT</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
        <div class="row">
            <moon-player/>
        </div>
    </div><!-- /.container-fluid -->
  </nav>

  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container">
    <div ng-view></div>

    <footer>
      <span class="pull-left">Moon Songs: v<span app-version></span></span>
      <span class="pull-right">Change language: <a href="" ng-click="changeLang('es')">es</a> | <a href="" ng-click="changeLang('en')">en</a></span>
    </footer>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="js/moonSongs.js"></script>
</body>
</html>
