<div class="modal-header">
  <h3 class="modal-title">Update song</h3>
</div>
<div class="modal-body">
  <p>New song data</p>
  <input type="text" class="form-control" placeholder="New title" ng-model="mvm.data.song.title">
  <input type="text" class="form-control" placeholder="New album" ng-model="mvm.data.song.album">
  <input type="text" class="form-control" placeholder="New artist" ng-model="mvm.data.song.artist">
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="mvm.ok()" translate>Update</button>
  <button class="btn btn-primary" ng-click="mvm.cancel()" translate>CANCEL</button>
</div>
