<div ng-controller="AlbumsController as vm">
    <div class="page-header">
        <h1 translate>ALBUMS</h1>
    </div>
    <accordion close-others="flase">
        <div ng-repeat="album in vm.albums">
            <div class="row">
                <a class="media-left media-middle col-md-1">
                    <img class="img-circle" style="width:64px;height:64px" ng-src="{{album.songs[0].coverUrl}}">
                </a>
                <accordion-group class="col-md-11" heading="{{album.artist}} | {{album.album}}">
                    <moon-song-list songs="album.songs"></moon-song-list>
                </accordion-group>
            </div>
            <br>
        </div>
    </accordion>
</div>