<div ng-controller="LoginController as vm">
  <form class="form-horizontal" ng-submit="vm.login()" name="loginForm" novalidate>
    <fieldset>
      <legend translate>LOGIN</legend>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-1 control-label" translate>USER</label>
        <div class="col-lg-5">
          <input class="form-control" id="inputEmail" ng-model="vm.userName" placeholder="{{'USER' | translate}}" type="text" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-1 control-label" translate>PASSWORD</label>
        <div class="col-lg-5">
          <input class="form-control" id="inputPassword" ng-model="vm.pass" placeholder="{{'PASSWORD' | translate}}" type="password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-5 col-lg-offset-2">
          <button type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid">Submit</button>
        </div>
      </div>
      <div ng-if="vm.error" class="alert alert-danger">
        <span translate>{{vm.error}}</span>
      </div>
    </fieldset>
  </form>
</div>
