<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" translate>DELETE USER TITLE</h3>
  </div>
  <div class="modal-body">
    <p translate-value-username="{{selected.userName}}" translate>DELETE USER BODY</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()" translate>DELETE</button>
    <button class="btn btn-primary" ng-click="cancel()" translate>CANCEL</button>
  </div>
</script>
<h1 translate>USER MANAGEMENT</h1>
<button type="button" class="btn btn-primary btn-sm" ng-click="createUser()" translate>CREATE USER</button>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th translate>USER</th>
      <th translate>EMAIL</th>
      <th translate>ADMIN</th>
      <th translate>OPERATIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td>
        <div class="checkbox">
          <label>
            <input type="checkbox" disabled ng-model="user.admin">
          </label>
        </div>
      </td>
      <td>
        <div class="row">
          <button type="button" class="btn btn-danger btn-xs" ng-click="delete('sm', user)" translate>DELETE</button>
          <button type="button" class="btn btn-warning btn-xs" translate>MODIFY</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
