<div ng-controller="View5Ctrl as vm">
    <h1 translate>REGISTER</h1>
    <form class="form-horizontal" name="createForm" ng-submit="vm.register()">
        <fieldset>
            <legend translate>CEATE USER</legend>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-1 control-label" translate>EMAIL</label>
                <div class="col-lg-5">
                    <input class="form-control" name="email" id="inputEmail" ng-model="vm.email" placeholder="{{'EMAIL' | translate}}" type="text" moon-validate="email" required>
                    <span class="help-block" ng-show="createForm.$pending.email" translate>CHECKINGEMAIL</span>
                    <span class="help-block invalid-form" ng-if="createForm.$error.email" translate>EMAILTAKEN</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-1 control-label" translate>USER</label>
                <div class="col-lg-5">
                    <input class="form-control" name="username" id="inputUsuario" ng-model="vm.userName" placeholder="{{'USER' | translate}}" type="text" moon-validate="userName" required>
                    <span class="help-block" ng-show="createForm.$pending.userName" translate>CHECKINGUSER</span>
                    <span class="help-block invalid-form" ng-if="createForm.$error.userName" translate>USERTAKEN</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-1 control-label" translate>PASSWORD</label>
                <div class="col-lg-5">
                    <input class="form-control" name="password" id="inputPassword" ng-model="vm.pass" placeholder="{{'PASSWORD' | translate}}" ng-minlength="6" type="password" required>
                    <span class="help-block" ng-class="{'invalid-form': createForm.password.$error.minlength}" translate>PASSMIN</span>
                </div>
            </div>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.admin"><span translate>ADMIN</span>
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.canUpload"><span translate>CAN UPLOAD</span>
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="vm.canListen"><span translate>CAN LISTEN</span>
            </label>
            <br>
            <br>
            <div class="form-group">
                <div class="col-lg-5 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" ng-disabled="!createForm.$valid">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>