<h1>Registro</h1>
<form class="form-horizontal">
  <fieldset>
    <legend>Crear nuevo usuario</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-1 control-label">Email</label>
      <div class="col-lg-5">
        <input class="form-control" id="inputEmail" ng-model="email" placeholder="Email" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-1 control-label">Usuario</label>
      <div class="col-lg-5">
        <input class="form-control" id="inputUsuario" ng-model="userName" placeholder="Usuario" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-1 control-label">Password</label>
      <div class="col-lg-5">
        <input class="form-control" id="inputPassword" ng-model="pass" placeholder="Password" type="password">
      </div>
    </div>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="admin"> Administrador
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="canUpload"> Pude subir archivos
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="canListen"> Puede escuchar canciones
    </label>
    <br>
    <br>
    <div class="form-group">
      <div class="col-lg-5 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="register()">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
